/* Sets the font for body to imported google font */
body {
  margin: 8px;
  font-family: "Cabin", sans-serif;
}

/* Sets font family for h1 to imported google font */
/* Uses cascading to make sure this is different from body font, even when h1 is in body element */
h1 {
  font-family: "Black Ops One";
}

.emphasize {
  font-family: "Black Ops One";
}


.lb_link button {
  text-decoration: none;
  display: inline;
  color: black;
  padding: 0px;
  font-family: "Black Ops One";
}
  
/* Uses :hover pseudoclass to underline hovered choice */
.lb_link button:hover {
  color: black;
  text-decoration: underline;
}

.upper-margin {
  margin-top: 16px;
}

#difficulty-selector {
  margin-bottom: 16px;
}

/* Sets max width for select when screen size is greater than 600px */
select {
  max-width: 50%;
}

input {
  max-width: 50%;
}

input.full {
  max-width: 100%;
}

.card {
  max-width: 40%;
}

.small {
  font-size: small;
}

/* Uses media query to allow size of drop down menu & card to fill screen on mobile devices */
@media all and (max-width: 600px) {
  select {
    max-width: 100%;
  }

  input {
    max-width: 100%;
  }

  .card {
    max-width: 50%;
  }
}
